In [ ]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [ ]:
df=pd.read_csv("homeprices.csv")

In [ ]:
type(df)

In [20]:
import math
bedrooms_median= math.floor(df.bedrooms.median())
bedrooms_median

3

In [23]:
df.bedrooms=df.bedrooms.fillna(bedrooms_median)

In [22]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [29]:
reg=linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [30]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [31]:
reg.intercept_

383724.9999999998

In [33]:
reg.predict([[3000,3,30]])

array([512650.])